[submodule "engine"]
	path = engine
	url = https://github.com/inferadb/engine
	branch = main
[submodule "control"]
	path = control
	url = https://github.com/inferadb/control
	branch = main
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/inferadb/dashboard
	branch = main
[submodule "tests"]
	path = tests
	url = https://github.com/inferadb/tests
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/inferadb/cli
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/inferadb/docs
	branch = main
[submodule "terraform-provider-inferadb"]
	path = terraform-provider-inferadb
	url = https://github.com/inferadb/terraform-provider-inferadb
	branch = main
[submodule "deploy"]
	path = deploy
	url = https://github.com/inferadb/deploy
[submodule "sdks/rust"]
	path = sdks/rust
	url = https://github.com/inferadb/rust
[submodule "teapot"]
	path = teapot
	url = https://github.com/inferadb/teapot
[submodule "github"]
	path = github
	url = https://github.com/inferadb/.github
